{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 80,
  "arrowParens": "always",
  "endOfLine": "auto",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^#app/(.*)$",
    "^#shared/(.*)$",
    "^#components/(.*)$",
    "^~/(.*)$"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true
}
